#dashboard
    height: 100%
    .wrapper
        height: 100%
    .left
        width: 270px
        padding: 0px
    .content-left
        background-color: rgb(197,197,197)
        margin: 0px
    .right
        width: calc(100% - 270px)
    .content
        display: flex
        flex-direction: row
        align-items: flex-start
        .input
            margin-right: 40px
        .content-input-wrapper
            padding: 0px 10px
            flex: 1
        .content-result
            padding: 0px 10px
            flex: 3
            .content-result-header
                background-color: rgb(238,238,238)